.button-edit {
  width: 75px;
  height: 32px;
  background: #fc8528;
  font-family: "Open Sans";
  font-size: 12px;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  padding-top: 8px;
  text-align: center;
  display: inline-block;
  text-decoration: none;

  &[type="submit"] {
    padding-top: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.button-save {
  width: 75px;
  height: 32px;
  background: #0FBA25;
  font-family: "Open Sans";
  font-size: 12px;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  padding-top: 8px;
  text-align: center;
  display: inline-block;
  text-decoration: none;

  &[type="submit"] {
    padding-top: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.button-delete {
  width: 75px;
  height: 32px;
  background: #ba0005;
  font-family: "Open Sans";
  font-size: 12px;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  padding-top: 8px;
  text-align: center;
  display: inline-block;
  text-decoration: none;

  &[type="submit"] {
    padding-top: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.button-ref {
  width: 75px;
  height: 32px;
  background: #2ec1ff;
  font-family: "Open Sans";
  font-size: 12px;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  padding-top: 8px;
  text-align: center;
  display: inline-block;
  text-decoration: none;

  &[type="submit"] {
    padding-top: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.button-update {
  padding: 6px;
  background: #945204;
  font-family: "Open Sans";
  font-size: 12px;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  padding-top: 8px;
  text-align: center;
  display: inline-block;
  text-decoration: none;

  &[type="submit"] {
    padding-top: 0;
  }

  &:hover {
    cursor: pointer;
  }
}