@font-face {
  font-family: 'Clear Sans Regular';
  src: url('../fonts/clearsans/ClearSans-Regular-webfont.eot');
  src: url('../fonts/clearsans/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/clearsans/ClearSans-Regular-webfont.woff') format('woff'), url('../fonts/clearsans/ClearSans-Regular-webfont.ttf') format('truetype'), url('../fonts/clearsans/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans Bold';
  src: url('../fonts/clearsans/ClearSans-Bold-webfont.eot');
  src: url('../fonts/clearsans/ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/clearsans/ClearSans-Bold-webfont.woff') format('woff'), url('../fonts/clearsans/ClearSans-Bold-webfont.ttf') format('truetype'), url('../fonts/clearsans/ClearSans-Bold-webfont.svg#clear_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans Bold Italic';
  src: url('../fonts/clearsans/ClearSans-BoldItalic-webfont.eot');
  src: url('../fonts/clearsans/ClearSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/clearsans/ClearSans-BoldItalic-webfont.woff') format('woff'), url('../fonts/clearsans/ClearSans-BoldItalic-webfont.ttf') format('truetype'), url('../fonts/clearsans/ClearSans-BoldItalic-webfont.svg#clear_sansbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans Italic';
  src: url('../fonts/clearsans/ClearSans-Italic-webfont.eot');
  src: url('../fonts/clearsans/ClearSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/clearsans/ClearSans-Italic-webfont.woff') format('woff'), url('../fonts/clearsans/ClearSans-Italic-webfont.ttf') format('truetype'), url('../fonts/clearsans/ClearSans-Italic-webfont.svg#clear_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans Light';
  src: url('../fonts/clearsans/ClearSans-Light-webfont.eot');
  src: url('../fonts/clearsans/ClearSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/clearsans/ClearSans-Light-webfont.woff') format('woff'), url('../fonts/clearsans/ClearSans-Light-webfont.ttf') format('truetype'), url('../fonts/clearsans/ClearSans-Light-webfont.svg#clear_sans_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans Medium';
  src: url('../fonts/clearsans/ClearSans-Medium-webfont.eot');
  src: url('../fonts/clearsans/ClearSans-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/clearsans/ClearSans-Medium-webfont.woff') format('woff'), url('../fonts/clearsans/ClearSans-Medium-webfont.ttf') format('truetype'), url('../fonts/clearsans/ClearSans-Medium-webfont.svg#clear_sans_mediumregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans Medium Italic';
  src: url('../fonts/clearsans/ClearSans-MediumItalic-webfont.eot');
  src: url('../fonts/clearsans/ClearSans-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/clearsans/ClearSans-MediumItalic-webfont.woff') format('woff'), url('../fonts/clearsans/ClearSans-MediumItalic-webfont.ttf') format('truetype'), url('../fonts/clearsans/ClearSans-MediumItalic-webfont.svg#clear_sans_mediumitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans Thin';
  src: url('../fonts/clearsans/ClearSans-Thin-webfont.eot');
  src: url('../fonts/clearsans/ClearSans-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/clearsans/ClearSans-Thin-webfont.woff') format('woff'), url('../fonts/clearsans/ClearSans-Thin-webfont.ttf') format('truetype'), url('../fonts/clearsans/ClearSans-Thin-webfont.svg#clear_sans_thinregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
