body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
body .container .form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
body .container .form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
body .container .form-signin input[type='text'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
body .container .form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
