* {
  padding: 0;
  margin: 0;
}

html, body, .wrapper {
  height: 100%;
}

.wrapper {

  .navbar {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #e7e7e7;
  }

  .left-menu {
    width: 210px;
    margin: 0 20px 10px 0;
    height: 100%;
    float: left;
    position: relative;
    z-index: 1;

    li a {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .content {
    padding: 0 10px 10px 10px;
    width: 100%;
    height: 100%;
    padding-left: 230px;
    position: absolute;

    .head {

      h1 {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }

      a {
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
      }
    }

    .form-row.price {
      margin-bottom: 10px;

      label {
        display: block;
      }

      input {
        width: 100px;
        display: inline-block;
        vertical-align: top;
        margin-right: 7px;
      }

      span.accept {
        display: inline-block;
        vertical-align: middle;
        font-size: 24px;
        color: #939393;
        transition-duration: 5s;
        -moz-transition-duration: .5s;
        -webkit-transition-duration: .5s;
        -o-transition-duration: .5s;
        transition-timing-function: cubic-bezier;
        -moz-transition-timing-function: cubic-bezier;
        -webkit-transition-timing-function: cubic-bezier;
        -o-transition-timing-function: cubic-bezier;

        &:hover {
          cursor: pointer;
        }

        &.accepted {
          color: #1A9300;
        }
      }
    }

    .form_back {
      .form_block {
        display: none;
        &.active {
          display: block;
        }
      }

      .load_block {
        display: none;
        &.active {
          display: block;
        }
      }
    }

    h1 {
      margin-top: 0;
    }

    .form {
      margin-top: 20px;
    }

    .table {
      .admin_preview {
        width: 50%;
      }
    }

    .service_info_block {
      margin-bottom: 20px;

      .remove_service_info_block, .info_block {
        display: inline-block;
        vertical-align: top;
      }

      .remove_service_info_block {
        opacity: .6;
        margin-right: 10px;

        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }

      .info_block {

      }
    }

    .append_service_info_block {
      &:hover {
        cursor: pointer;
      }
    }

    .admin-rubric-block {
      display: block;
      padding-left: 20px;
      border-left: 3px solid #13a7ff;
      margin-bottom: 15px;

      .form-control {
        margin-bottom: 5px;
      }

      .append-rubric {
        color: #13A7FF;
        cursor: pointer;
        display: inline-block;
      }
    }

    #logo-img {
      width: 120px;
    }
  }
}

@import "reinit";